@using BTO.Models
@model BTO.Models.ResetPasswordViewModel
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en" ng-app="btoApp" ng-cloak>

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/png" href="/favicon.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{'Reset password' | translate}}</title>

    <!-- Material Design Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Bootstrap core CSS -->

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Material Design BTO -->

    <link href="~/Content/bto.css" rel="stylesheet" />
    <!-- Custom CSS for Documentation Only -->

    <link href="~/Content/custom.css" rel="stylesheet" />

</head>

<body id="login-page">
    <div id="login-top">
        <div class="dropdown">
            <button class="btn btn-xs btn-white dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">{{$root.selectedLanguage.name| translate}} &nbsp;<span class="caret"></span></button>
            <ul class="dropdown-menu" ng-if="false">
                <li ng-repeat="language in $root.listLanguage" ng-if="language.code != $root.selectedLanguage.code" ng-click="$root.changeLanguage(language)"><a>{{language.name | translate}}</a></li>
            </ul>
        </div>

    </div>
    <div id="login-panel-wrapper">
        <div id="login-panel" class="panel-group">
            <div class="panel panel-default center">
                <div class="panel-heading"><div class="logo"></div></div>
                <div class="panel-body">
                    <span class="light-300" style="font-size:20px">{{'Thank you!' | translate}}</span>
                    <p class="helper">{{'Please set a new password for your account:' | translate}}</p>

                    @using (Html.BeginForm("ResetPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form", name = "ResetPassword", autocomplete = "off" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Partial("ValidationSummary", ViewData.ModelState);
                        @Html.HiddenFor(model => model.Code)
                        <div class="input-field col-md-12">
                            @Html.TextBoxFor(m => m.Email, new { @class = "validate", required = "", type = "email", name = "Email", id = "email" })
                            <label for="email" data-error="Invalid">{{'Email' | translate}}</label>
                        </div>
                        <div class="input-field col-md-12">
                            @Html.PasswordFor(m => m.Password, new { @class = "validate", required = "", name = "Password", id = "password" })
                            <label for="password">{{'Password' | translate}}</label>
                        </div>
                        <div class="input-field col-md-12">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "validate", required = "", name = "ConfirmPassword", id = "confirmpassword" })
                            <label for="confirmpassword">{{'Confirm password' | translate}}</label>
                        </div>
                        <div class="col-md-12 right">
                            <input type="submit" value="{{'Set new password' | translate}}" class="btn btn-primary text-uppercase" />
                        </div>
                    }
                </div>
            </div>
        </div>
        <a href="/Account/Login" class="text-white">{{'Log in to your account.' | translate}}</a>

        <div class="copyright-text">&copy; 2016 <strong>ZYMI App</strong>. {{'All Rights Reserved' | translate}}.</div>
    </div>

    <div id="login-footer"></div>



    <!-- SCRIPTS ON FOOTER -->
    <!-- JQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- Material Design Bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular-messages.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular-cookies.js"></script>

    <script src="~/Scripts/bto.js"></script>
    <script src="~/Scripts/thirdparty/angular-material/gesture.js"></script>
    <script src="~/Scripts/thirdparty/angular-translate.js"></script>
    <script src="~/Scripts/thirdparty/angular-translate-loader-static-files.js"></script>
    <script src="~/Scripts/bto/btoAppNotLogin.js"></script>

    <script>
        $(document).ready(function () {
            //functions here
        });
    </script>
</body>

</html>